@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.mask {
	position: absolute;
  width: 33.33333%;
  height: 72%;
  box-shadow: 0 0 0 100vw rgba(255, 255, 255, 0.6);
  border-radius: 45%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.column-1\/3 {
	flex: 1 0 33.3333%;
}

.progress {
	height: 10px;
}
.progress-bar {
	background-color: #09101D !important;
	border-radius: 50px;
}

@keyframes move{
	0%
	{
		background-position: 0 center;
	}
	100%
	{
		background-position: -100% center;
	}
}

.animation-line {
	background-position: 0% center;
	background-size: 50% 100%;
	background-repeat: repeat-x;
	animation: move 2.5s linear infinite;
	margin-right: -50%;
}

.confirm-button, .dismiss-button {
	border-radius: 24px;
}
.confirm-button {
	background-color: #09101D;
	color: #fff;
}
.dismiss-button {
	background-color: #D5DDE3;
	color: #09101D;
}

#meter path:not(#outer) {
	transition: 1s;
}

#pointer {
	bottom: 0px;
	overflow: visible;
}

#pointer g {
	transition: 1s;
	transform-origin: bottom center;
	transform-box: fill-box;
}

#full-canvas {
	transition: .5s linear;
}